<nav class="navbar navbar-expand-sm  ">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Peopletech group</a>
        <button type="button" data-toggle="collapse" data-target="#navbar-menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
      <li><a routerLink="/home" class="nav-link">Home</a></li>
      <li><a routerLink="/about" class="nav-link">About</a></li>
      <li><a routerLink="/navbar" class="nav-link">navbar</a></li>
      <li><a routerLink="/contact" class="nav-link">Contact us</a></li>
      <li><a routerLink="/graphs" class="nav-link">Graphs</a></li>
      <li><a routerLink="/parent" class="nav-link">parent</a></li>
      <li><a routerLink="/child" class="nav-link">child</a></li>
      <li><a routerLink="/binding" class="nav-link">data bindings</a></li>
      <li><a routerLink="/hooks" class="nav-link">lifecycle</a></li>
      <li><a routerLink="/createmp" class="nav-link">Create Employee</a></li>
       </ul>
        </div>
    </div>
</nav>
