<body>
    <div class="container-fluid">
      <div class="container Registration ">
        <div class=" card">

          <div class="row">
              <div class="col-md-6 content">
               
      <p class="about">At People Tech, success is driven by the idea that our customers, employees and community are our family</p>
                
              </div>
              <div class="col-md-6">
                  <div class="login ">
                <h4>Login Form</h4>
                  <form >
                    <div class="mb-2">
                      <label for="exampleInputEmail1" class="form-label">Email address<span>*</span></label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                      <div class="mb-2">
                        <label for="password" class="form-label">Password<span>*</span></label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="text-center">
                      <button type="submit" routerLink="/home" class="btn submit">Login</button>
                    </div>
                    </form> 
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </body>
