.design
  background-color: #dbe1ec
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  width: 60%
.container-fluid
  background: #aa4256

nav
   padding: .5rem
ul
   list-style-type: none
   margin: .5rem
   padding: .2rem 

li 
  float: right
                              
a
    text-decoration: none 
    padding: 1rem
    margin: 0.3rem
    color: gray
    font-size: 18px
    font-weight: 500