<app-header></app-header>
<div class="container">
  <div class="row mt-5 border shadow-lg border-info rounded shadow">
    <div class="col-lg-12 p-5">
        <h5 class="text-center h1">Edit Form</h5><hr/>
        <form [formGroup]="editform" (ngSubmit)="onSubmit()" class="col-lg-12">
          <div class="mb-2">
            <div class="form-group">
              <label for="FirstName" class="form-label">First Name <span>*</span></label>
              <input type="text" formControlName="FirstName" class="form-control" id="FirstName"
                [ngClass]="{ 'is-invalid': submitted && f['FirstName'].errors }" aria-describedby="FirstName">
              <div *ngIf="submitted && f['FirstName'].errors" class="invalid-feedback">
                <div *ngIf="f['FirstName'].errors['required']">firstname is required</div>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Email address<span>*</span></label>
              <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['pattern']">Invalid email</div>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <div class="form-group">
              <label for="Mobile" class="form-label">Mobile Number<span>*</span></label>
              <input type="number" formControlName="Mobile" class="form-control" required
                [ngClass]="{ 'is-invalid': submitted && f['Mobile'].errors }" id="Mobile" aria-describedby="Mobile">
              <div *ngIf="submitted && f['Mobile'].errors" class="invalid-feedback">
                <div *ngIf="f['Mobile'].errors['required']">Mobile is required</div>
                <div *ngIf="f['Mobile'].errors['pattern']">Please,Enter Valid Mobile Number.</div>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <div class="form-group">
              <label for="password" class="form-label">Password<span>*</span></label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" id="exampleInputPassword1">
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">Password at least 6</div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 text-center mt-3">
            <button type="submit" class="btn btn-info text-center">Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>