.container-fluid
  background: #aa4256

nav
   padding: .5rem
ul
   list-style-type: none
   margin: .5rem
   padding: .2rem 

li 
  float: right
  font-size:15px
  font-weight:500                              
a
    text-decoration: none 
    padding: 1rem
    margin: 0.3rem
    color: gray
    font-size: 18px
    font-weight: 500   

.home
  padding: 2rem
  margin: 2rem 2rem


p
 font-size: 15px
 font-weight: 500
 color: gray
 padding: 1rem

span
 padding: 4rem
 color:  #aa4256
 font-weight: 500
 font-size: 15px
                   
            
 