<div class="container-fluid">
  <nav>
    <ul class="d-flex">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact us</a></li>
      <li><a routerLink="/graphs">Graphs</a></li>
      <li><a routerLink="/parent">parent</a></li>
      <li><a routerLink="/child">child</a></li>
      <li><a routerLink="/binding">data bindings</a></li>
      <li><a routerLink="/createmp">Create Employee</a></li>
      <li><a (click)="onclick()">logout</a></li>
    </ul>
  </nav>
</div>
  

<div class="body">
  <div class="row">
    <div class="col-md-12">
      <div class="home text-center">
        <img src="assets/peopleteck1.jpg"><br />
        <div class="d-flex">
          <span>Digital Transformation</span><br />
          <span>Enterprise Software</span><br />
          <span>Data Intelligence</span><br />
          <span>Methodologies</span><br />
        </div>
        <p>At People Tech, success is driven by the idea that our customers, employees and community are our family. We
          believe in supporting ideas and activities that drive passion with our employees and incorporate those
          interests into organized activities. This has created a positive workplace culture resulting in an increase in
          productivity and creativity in the solutions we provide to our customers.</p>
      </div>
    </div>
  </div>
</div>


